section {
  background-color: white;
}

body{
  font-family: arial;
  margin-left: 5%;
  margin-right:5%;
  margin-bottom:5%;
  border: 2px solid black;
  background-color: black;
}

h2 {
  text-align: center;
  color: white;
}

h1{
  font-size:40px;
}

.intro {
    text-align: center;
    padding-top: 7.5%;
}

.resume {
    padding-left: 17.5%;
padding-right: 17.5%;
padding-bottom: 10%;
}

.airtable-embed {
    padding-left: 5%;
padding-right: 5%;
}
