section {
  background-color: white;
}

body{
  font-family: arial;
  margin-left: 10%;
  margin-right:10%;
  margin-bottom:5%;
  border: 2px solid grey;
  background-color: grey;
}

h2 {
  text-align: center;
  color: #00008a;
}

h1{
  font-size:40px;
}

.intro {
    text-align: center;
    padding-top: 2%;
}

.resume {
    padding-left: 2%;
padding-right: 2%;
padding-bottom: 2%;
}
